{% extends 'base.html' %}

{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shopping Card</h1>
                <p class="lead fw-normal text-white-50 mb-0">Página de seu Cart...</p>
            </div>
        </div>
    </header>

    <!-- Section-->
    <section class="py-5">           
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% for product in products %}

                    {% if product.is_sale %}

                    <div class="col mb-5">
                        <div class="card h-100">
                            
                            <center>
                            <div class="img_mesmo_tamanho">
                                <br/>
                                <!-- Product image-->
                                <img class="img_mesmo_tamanho" src="{{ product.image.url }}" alt="..." />
                            </div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    <strike>
                                    R$ {{ product.price }}
                                    </strike>
                                    <br/>
                                    {{ product.description }}
                                    <br/>
                                    In: {{ product.category }}
                                    <br/>
                                    RS R$ {{ product.sale_price }} - <b>Vendida</b>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">Ver Produto</a></div>
                            </div>
                            </center>
                        </div>
                    </div>
                    
                    {% else %}

                    <div class="col mb-5">
                        <div class="card h-100">
                            <center>
                            <div class="img_mesmo_tamanho">
                                <br/>
                                <!-- Product image-->
                                <img class="img_mesmo_tamanho" src="{{ product.image.url }}" alt="..." />
                            </div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    R$ {{ product.price }}
                                    <br/>
                                    {{ product.description }}
                                    <br/>
                                    In: {{ product.category }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">Ver Produto</a></div>
                            </div>
                            </center>
                        </div>
                    </div>

                    {% endif %}
                
                {% endfor %}

            </div>
        </div>
    </section>
    <br><br>

    <div class="conteiner">
    {% if cart_products %}  
        {% for product in cart_products %}

            
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                    </div>
                    <div class="col-md-8">
        
                        <div class="card-body">
                            <center>
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text justified">{{ product.description }}</p>
        
                            {% if product.is_sale %}
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    &nbsp;&nbsp; Vendido &nbsp;&nbsp;
                                    <div class="bi-star-fill"></div>
                                </div>    
                                <br/>
                                <!-- Product price-->
                                <strike>
                                R$ {{ product.price }}
                                </strike>
                                <br/>
                                In: {{ product.category }}
                                <br/>
                                RS R$ {{ product.sale_price }}</b>
        
                            {% else %}
                                R$ {{ product.price }}
                            {% endif %}
                            <br/><br/>
                            <div class="row justify-content-center">
                                <div class="col-md-2"> Quantity: </div>
                                <div class="col-md-2">
                                    <select class="form-select form-select-sm" id="select{{product.id}}">
                                        {% for key, value in quantities.items %}
                                            {% if key == product.id|slugify %}
                                            <option selected> {{ value }} </option>
                                            {% endif %}
                                        {% endfor %}
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select> 
                               </div>
                            </div>                              
        
                            <br/><br/>
                            <a href="{% url 'home' %}" class="btn btn-secondary">  Home </a>
                            
                            <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">Alterar</button>

                        <!--  <button type="button" data-id="{{ product.id }}" class="btn btn-secondary" id="add-cart">Adicionar ao Carrinho</button> -->  
                            </center>
                        </div>
                    </div>
                </div>
            </div>    

        {% endfor %}

    {% else %}
    <center>
        There's Nothing In Your Cart... <br>
        Não há nada no seu carrinho...
        <br><br><br><br><br><br>
    </center>        
    {% endif %}  
   
    </div>   


<script>
    // Checa se o botão foi pressionado
    $(document).on('click', '.update-cart', function(e){
        e.preventDefault();
        // grab the product id
        var productid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_update' %}',
    
            data: {
                // product_id: $('#add-cart').val(),
                product_id:  $(this).data('index'),
                product_qty: $('#select' + productid + 'option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
    
            success: function(json){
                // if (json.qty) {
                //    document.getElementById("cart_quantity").textContent = json.qty;
                // } else {
                //    console.error('Quantidade de itens no carrinho não encontrada.');
                // }
                location.reload();
            },
    
            error: function(xhr, errmsg, err){}
    
        });
    })
</script>

{% endblock %}        

