<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- SoftWare Prettier Code - para estudar Media Queries -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
</head>
<body>
    
</body>
</html>


<!-- SoftWare Prettier Code - para estudar Media Queries -->

<!--
styles.css
-----------------
h1 {
    color: red;
}

h2 {
    color: red;
}


/*  ---- PARA CELULARES ---- */
@media (max-width: 450px) {
    h1 {
        color: green;
    }

    h2 {
        color: green;
    }
}

@media (max-width: 375px) {
    h1 {
        color: blueviolet;
    }
}

/*  ---- PARA TABLETS ---- */
@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        color: yellow;
    }

    h2 {
        color: yellow;
    }
}

/*  ---- ORIENTAÇÃO HORIZONTAL - DEITADO ---- */
@media (orientation: landscape) {
    h1 {
        color: blue;
    }

    h2 {
        color: blue;
    }
}


-->